.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gradle/
build/
gradlew.bat
local.properties
.idea/
*.iml
gradlew
gradle/
.apk
gradle.properties
/.idea/modules.xml
.externalNativeBuild